.music-player {
            background-color: rgb(63, 63, 63);
            width: 400px;
            height: 500px;
            padding: 20px;
            margin: auto;
            display:flex;
            flex-direction: column;
            align-items: center;
            row-gap: 20px;
            border-radius: 10px; 
          
        }

        #imgcontainer {
            width: 250px;
            height: 200px;
        }

        #img {
            width: 100%;
            height: 100%;
        }

        .buttons {
            background-color:#000;
            color: white;
            border: none;
            padding: 0px 10px 0px 10px;
            font-size: 14px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            display: inline;
            justify-content: center;
            margin-bottom: 5px;
        }

        .buttons:hover {
            cursor: pointer;
        }

        #controls {
            color: white;
        }

        #durationRange {
            width: 100%;
        }
         #songs {
            display: flex;
            flex-direction: row;
            gap: 10px;
        }

        .songbuttons {
            background-color: #141414;
            color: white;
            border: none;
            padding: 10px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 10px;
        }

        .songbuttons:hover {
            background-color: #a08045;
        }
    